*{
    box-sizing: border-box;
}
.search-box{
    height: 53.2vh;
    width: 100%;
    background: url('./image.png');
    background-blend-mode: soft-light;
    position: relative;
 }

.overlay{
    height: 53.2vh;
    width: 100%;
    background: linear-gradient(180deg, #3D3D3D 0%, #1B1B1B 100%);
    opacity: 0.7;
}

.search-box-body{
    border: 1px solid red;
    width: 100vw;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15%;

} 
.search-box-text{
    font-family: 'Roboto Mono';
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: white;
    z-index: 1;
    margin: 0;
} 
.search-input > input{
    display: flex;
    display: block;
    margin: auto;
    padding: 14px 28px;
    gap: 232px;

    width: 480px;
    height: 52px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
@media (max-width: 768px){
    .search-box-body{
        width: 100vw;
    }
}
